@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:ital,wght@1,100&display=swap');

.diary-title{
  font-family: 'Parisienne', cursive;
  text-transform: capitalize;
}
@media (min-width:879px) {
    .home{
      border:1px solid #fbd9d9;
    }
}
.home{
  padding: 30px;
}
.home .topic{
  font-family: 'Raleway', sans-serif;
}
.gallery img{
  max-height: unset;
  height: 400px;
}
.relative{
 position:relative;

}
.top-right{
   position: absolute;
   top: 0px;
   right:0px;
   opacity:0.7;
   margin-bottom:5px;
}

.cursor img:hover, .topic-image:hover {
     opacity:0.7;

}
.modal-content{
  overflow: unset;
  box-sizing: border-box;
}

.image img{
  max-height: 600px;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}

footer{
padding: 2em;
}
